---

---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alvy's writing</title>
    <link rel="stylesheet" href="/assets/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/45cada45a9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="all-content">
      {% include navigation.html %}
      {{ content }}
    </div>
  </body>
</html>